.desktop-header {
    background-color: var(--main-color);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.034); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-block: 20px;
    padding-inline: 120px;
    font-family: "Inter", sans-serif;
    z-index: 50;
}

.desktop {
    color: var(--black-color);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
}

.header-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

li {
    list-style-type: none;
}

.nav-bar h1 {
    margin-right: 50px;
}

.header {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 400;
    margin-right: 30px;
}

.header:hover {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-button {
    background-color: var(--black-color);
    color: var(--white-color);
    padding-block: 12px;
    padding-inline: 24px;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.header-button:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid var(--black-color);
}

.header-right {
    display: flex;
    align-items: center;
}

.sun {
    margin-left: 15px;
    display: none;
    font-size: 30px;
    color: white;
}

.moon {
    margin-left: 15px;
    font-size: 30px;
}

/* Mobile-nav */

.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-color);
    z-index: 10;
    display: none;
}

.mobile-nav {
    padding-inline: 60px;
    padding-block: 20px;
    display: none;
}

.mobile {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.control {
    width: 100%;
    justify-content: space-between;
    display: none;
}

.control-right {
    display: flex;
}

.three-bar {
    font-size: 30px;
    color: var(--black-color);
    text-align: center;
    width: 40px;
    margin-left: 15px;
}

.three-bar:active {
    background-color: var(--black-color);
    color: var(--white-color);
}

.close {
    font-size: 30px;
    color: var(--black-color);
    text-align: center;
    width: 40px;
    border-radius: 50%;
    margin-left: 15px;
    display: none;
}

.close:active {
    background-color: var(--black-color);
    color: var(--white-color);
}

.mobile-drop-down {
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    display: none;
    border-bottom: 1px rgba(128, 128, 128, 0.473) solid;
}

.header2 {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    color: var(--black-color);
    text-decoration: none;
}

.header2:hover {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header2-button {
    background-color: var(--black-color);
    color: var(--white-color);
    padding-block: 12px;
    padding-inline: 24px;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.header2-button:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.headerbutton {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
}




@media (max-width: 1150px) {
    .desktop-header {
        padding-inline: 60px
    }
}

@media (max-width: 850px) { /* 1024px */
    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: block;
    }

    .mobile-nav {
        display: block;
    }

    .control {
        display: flex;
    }
}


@media (max-width: 524px) {
    .mobile-nav {
        padding-inline: 30px;
    }

    .header2,
    .headerbutton {
        padding-left: 30px;
    }
}